<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my page</title>
</head>
<body>
    <center>
        <h1> this is the home page </h1>
        <br><br><br><hr>
        <h2>these are our user list</h2>
        <ul> 
            {% for u in userlist %}
            <li>
                <a href="user_details/{{ u.User_id }}">{{ u.User_id}}, {{ u.name }}</a>
                
            </li>
            {% endfor %}
        </ul>
        <br><br><br>
        <h2>these are our products:</h2>
        <table border="1px solid">
            {% for p in productlist %}
            <tr>
                <td>
                    <a href="prod_details/{{p.id}}">{{ p.name}}</a>
                    <!-- {{ p.name }} -->
                </td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>